<footer class="bg-gray-900 relative md:mt-32">
  <div class="container max-w-6xl mx-auto flex items-center px-2 py-8">

    <div class="w-full mx-auto flex flex-wrap items-center">
      <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold">
        <a class="text-gray-900 no-underline hover:text-gray-900 hover:no-underline" href="{{url_for("/")}}">
          <h1 class="text-base text-gray-200">{{ config.title }} &copy; {{ moment().year() }}</h1>
        </a>
      </div>
    </div>

  </div>
  <div class="overflow-hidden absolute bottom-0 left-0 right-0 h-24 md:h-56">
    <img src="{{ url_for('images/avatar-carl.png')}}" class="absolute bottom-0 right-4 w-20 md:right-24 md:w-28"/>
    <img src="{{ url_for('images/avatar-brandon.png')}}" class="absolute bottom-0 left-4 w-20 md:left-auto md:-bottom-4 md:right-52 md:w-28"/>
    <img src="{{ url_for('images/cloudchat-logomark.png')}}" class="absolute opacity-0 bottom-24 right-48 w-14 md:animate-cloudchat-bubble-1"/>
    <img src="{{ url_for('images/cloudchat-logomark.png')}}" class="absolute opacity-0 bottom-24 right-20 w-14 md:animate-cloudchat-bubble-2"/>
  </div>
</footer>