<div class="w-full m-0 py-5 bg-cover bg-bottom"
  style="background-image:url('{{ url_for('images/cover.png') }}');">

  <div class="container max-w-4xl mx-auto h-100 flex flex-row justify-center">
    <a href="{{ url_for('/')}}" class="flex flex-row justify-center flex-auto max-w-2xl w-1/2">{{ image_tag('images/cloudchat-full.svg', { alt: 'CloudChat logo', title: 'CloudChat', class: 'flex-initial max-w-100' }) }}</a>
  </div>

</div>