<nav class="col-span-1 md:col-span-2 mb-4">
    <div>
        <div class="bg-gray-800 text-white px-4 py-2 mb-2 rounded-md">
            <h2 class="text-xl font-bold">Latest Episodes</h2>
        </div>
        <ul>
            {% set posts = site.posts.sort('-date') %}
            {% for post in posts
                .slice('0', '4')
                .toArray() %}
                <li>
                    <a href="{{ url_for(post.path) }}">{{ "#{{post.episode}}: " if post.episode}}{{ post.title }} ({{ date(post.date, 'YYYY-MM-DD') }})</a>
                </li>
            {% else %}
                <li>Episodes coming soon!</li>
            {% endfor %}
        </ul>
    </div>
</nav>