<article class="prose relative max-w-none lg:prose-xl -mt-1">
  {% if post
    .episode
    .toString() %}
    <span class="block absolute top-1 right-0 px-2 py-1 bg-gray-400 rounded-md text-white text-sm">{{ "#" + post.episode.toString().padStart(4, '0') }}</span>
  {% endif %}
  <header>
    {% if is_post()or is_home_first_page() %}
      <h1 class="mb-1 pr-16">{{ post.title }}</h1>
      <div class="lg:-mt-10">
        <span class="block text-xs text-gray-500 lg:text-lg">Published on {{ time_tag(post.date) }}</span>
      </div>
    {% else %}
      <h1>
        <a href="{{ url_for(post.path) }}" class="mb-1">{{ post.title }}</a>
      </h1>
    {% endif %}
  </header>
  {% if post.libsynId %}
    <iframe title="CloudChat.tech Episode Player" style="border: none" src="//html5-player.libsyn.com/embed/episode/id/{{ post.libsynId }}/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/1f2937/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  {% endif %}
  <div class="-mt-6">
    {{ post.content }}
  </div>
  <div class="mt-4 text-right text-xs text-gray-500">
    <a href="{{ url_for(post.path) }}" class="mb-1 text-gray-500">Permalink</a>
  </div>
</article>
